# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Hadoop项目实战\sparkproject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
